extend layout

block scripts
  script(src='/jquery-1.8.0.min.js')
  script(src='/OpenLayers.js')
  script(src='/socket.io/socket.io.js')
  script
    $(document).ready(function(){
        console.log("Document Ready");
        var socket = io.connect();
        socket.on('connect', function(data){
            console.log("Socket.io Connected");
            socket.emit('watch track', { trackid: #{track.id} });
        });
        socket.on('new point', function(data){
            console.log("New Point: " + data);
            addMarker(data.lon, data.lat);
        });


        var urls = [
            "http://a.tile.openstreetmap.org/${z}/${x}/${y}.png",
            "http://b.tile.openstreetmap.org/${z}/${x}/${y}.png",
            "http://c.tile.openstreetmap.org/${z}/${x}/${y}.png"
        ];
        var map = new OpenLayers.Map({
            div: "map",
            layers: [
                new OpenLayers.Layer.XYZ("OSM", urls, {
                    transitionEffect: "resize", buffer: 2, sphericalMercator: true,
                    attribution: "Data CC-By-SA by <a href='http://openstreetmap.org/'>OpenStreetMap</a>"
                })
            ],
            controls: [
                new OpenLayers.Control.Navigation({
                    dragPanOptions: {
                        enableKinetic: true
                    }
                }),
                new OpenLayers.Control.PanZoom(),
                new OpenLayers.Control.Attribution()
            ],
            center: [0, 0],
            zoom: 3
        });
        map.addControl(new OpenLayers.Control.LayerSwitcher());

        var latlonProj     = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var MercatorProj   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(-63.5744, 44.6479).transform(latlonProj, MercatorProj);
        var zoom           = 15;
        map.setCenter(position, zoom);


        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        function addMarker(lon, lat){
            var pos = new OpenLayers.LonLat(lon, lat).transform(latlonProj, MercatorProj);
            markers.addMarker(new OpenLayers.Marker(pos));
        }


        map.events.register("click", map, function(e) {
            var position = map.getLonLatFromPixel(e.xy).transform(MercatorProj, latlonProj);
            socket.emit('new point', { trackid: #{track.id}, lon: position.lon, lat: position.lat });
            addMarker(position.lon, position.lat);
        });

    });

block content
  #maphead
    p #{track.name} - Created By: #{track.created_by}
  #map
        
